In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/resume_data_1.csv')
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 34 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    object
 1   career_objective                     4740 non-null   object
 2   skills                               9488 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  extra_curricular_activity_types      3426 non-null   object
 17  extra_curricular_organization_names  3426 non-null   object
 18  extra_curricular_organization_links  3426 non-null   object
 19  role_positions                       3426 non-null   object
 20  languages                            700 non-null    object
 21  proficiency_levels                   700 non-null    object
 22  certification_providers              2008 non-null   object
 23  certification_skills                 2008 non-null   object
 24  online_links                         2008 non-null   object
 25  issue_dates                          2008 non-null   object
 26  expiry_dates                         2008 non-null   object
 27  ﻿job_position_name                   9544 non-null   object
 28  educationaL_requirements             9544 non-null   object
 29  experiencere_requirement             8180 non-null   object
 30  age_requirement                      5457 non-null   object
 31  responsibilities.1                   9544 non-null   object
 32  skills_required                      7843 non-null   object
 33  matched_score                        9544 non-null   float64
dtypes: float64(1), object(33)
memory usage: 2.5+ MB

In [26]:
# df = df.drop(columns = ['responsibilities'])

In [25]:
resumes = df.iloc[:, :27]
jobs = df.iloc[:, 27:]

In [27]:
resumes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 27 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    object
 1   career_objective                     4740 non-null   object
 2   skills                               9488 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  extra_curricular_activity_types      3426 non-null   object
 17  extra_curricular_organization_names  3426 non-null   object
 18  extra_curricular_organization_links  3426 non-null   object
 19  role_positions                       3426 non-null   object
 20  languages                            700 non-null    object
 21  proficiency_levels                   700 non-null    object
 22  certification_providers              2008 non-null   object
 23  certification_skills                 2008 non-null   object
 24  online_links                         2008 non-null   object
 25  issue_dates                          2008 non-null   object
 26  expiry_dates                         2008 non-null   object
dtypes: object(27)
memory usage: 2.0+ MB

In [28]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ﻿job_position_name        9544 non-null   object
 1   educationaL_requirements  9544 non-null   object
 2   experiencere_requirement  8180 non-null   object
 3   age_requirement           5457 non-null   object
 4   responsibilities.1        9544 non-null   object
 5   skills_required           7843 non-null   object
 6   matched_score             9544 non-null   float64
dtypes: float64(1), object(6)
memory usage: 522.1+ KB

In [29]:
jobs.duplicated().sum()

7655

In [30]:
jobs[jobs.duplicated()].head()

,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
6,Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.65
7,Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.65
33,Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.65
58,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.85
60,Executive - VAT,BBA in Accounting and Finance,1 to 3 years,NaN,Mushak Forms Maintenance\nVAT Software & MS Of...,VAT and Tax,0.65

In [31]:
jobs.drop_duplicates()

,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000
...,...,...,...,...,...,...,...
9483,HR Officer,•Bachelor of Business Administration (BBA) in ...,NaN,Age 18 to 30 years,Relationship Building\nHR Collaboration\nPolic...,Human Resource Management,0.183333
9484,Intern (Generative AI Engineering - 2D/3D Imag...,Bachelor of Science (BSc),NaN,Age 20 to 35 years,Generative AI Development\nEvolutionary Comput...,NaN,0.874667
9504,"Full Stack Developer (Python,React js)",Bachelor/Honors,3 to 7 years,NaN,"Full Stack Development\nFront-end: ReactJS, Ne...",NaN,0.660000
9506,Management Trainee - Mechanical,Fresh graduates with a Bachelor’s degree in Me...,NaN,Age at least 22 years,Management Trainee\nMechanical Systems\nMainte...,Computer skill\nGood communication skills\nMec...,0.733333
9514,Data Science Engineer,Bachelor of Science (BSc) in Computer Science ...,At least 2 years,Age 25 to 32 years,Application Development\nObject-Oriented Desig...,Business Analysis\nEffective communication ski...,0.050000

In [32]:
jobs.columns = ['position', 'education_requirement', 'experience_requirement', 'age_requirement', 'responsibilities', 'skill_required', 'matched_score']

In [33]:
jobs['combined'] = jobs.drop(columns=['matched_score']).apply(lambda row: " ".join(row.astype(str).values), axis=1)

In [34]:
jobs.head()

,position,education_requirement,experience_requirement,age_requirement,responsibilities,skill_required,matched_score,combined
0,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,Senior Software Engineer B.Sc in Computer Scie...
1,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,Machine Learning (ML) Engineer M.Sc in Compute...
2,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,"Executive/ Senior Executive- Trade Marketing, ..."
3,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,Business Development Executive Bachelor/Honors...
4,Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,Senior iOS Engineer Bachelor of Science (BSc) ...

In [35]:
jobs['combined'].duplicated().sum()

9516

In [36]:
jobs.duplicated().sum()

7655

In [37]:
jobs.drop(['matched_score', 'combined'], axis=1).duplicated().sum()

9516

In [38]:
unique_jobs = jobs.drop(columns = ['matched_score', 'combined'])
unique_jobs = unique_jobs.drop_duplicates().reset_index(drop=True)
unique_jobs['job_id'] = unique_jobs.index

In [39]:
resumes.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates'],
      dtype='object')

In [40]:
resumes.duplicated().sum()

9200

In [41]:
resumes['resume_id'] = resumes.index

In [43]:
# resumes = resumes.drop(columns = ['responsibilities'])

In [45]:
# merged = unique_jobs.merge(resumes)

In [47]:
# merged.head()

In [49]:
# merged.shape